 .customSelect { 
  position: relative;
  margin-bottom: 15px;
  font-size: 0.88rem;
}
.customSelect.select-open .selectValueWrap{
    box-shadow: 0 0 0 ,0px 0 2px #d5d5d5,-2px 0 2px #d5d5d5;
    -moz-box-shadow: 0 0 0 ,0px 0 2px #d5d5d5,-2px 0 2px #d5d5d5;
    -webkit-box-shadow: 0 0 0 ,0px 0 2px #d5d5d5,-2px 0 2px #d5d5d5;
  border-top: 1px solid #007eee;
  border-left: 1px solid #007eee;
  border-right: 1px solid #007eee;

}

/*.customSelect.use-default .select-box.use-default{
    position: absolute;
    left: -9999px;
    display: block;    
}*/
.customSelect.select-open .selectList{
  box-shadow: 0 0 0,2px 0 2px #d5d5d5,-2px 0 2px #d5d5d5,0 2px 2px #d5d5d5;
  -moz-box-shadow: 0 0 0 ,2px 0 2px #d5d5d5,-2px 0 2px #d5d5d5,0 2px 2px #d5d5d5;
  -webkit-box-shadow: 0 0 0 ,2px 0 2px #d5d5d5,-2px 0 2px #d5d5d5,0 2px 2px #d5d5d5;
  border-bottom: 1px solid #007eee;
  border-left: 1px solid #007eee;
  border-right: 1px solid #007eee;
}

.customSelect .select-box{
  display: none;
}
.customSelect .selectedValue {
  height: 30px;
  line-height: 29px;
  border-radius: 2px 2px 0px 0px;
  background-color: #F8F8F8;
  border: solid 1px #d9d9d9;
  position: relative;
  cursor: pointer;
  padding: 0 30px 0 10px;
  background-image: linear-gradient(to top, #f2f2f2, #fff);
  color: #7f7f7f;
}
.customSelect .selectList {
	z-index: 1;
	position: absolute;
	left: -999em;
	top: -999em;
	
  padding: 2px 0 0px 0px;
  margin: 0px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px 0px 2px 2px;
     -moz-border-radius: 0px 0px 2px 2px;
          border-radius: 0px 0px 2px 2px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.customSelect.select-open .selectList {
	left: 0 !important;
	top: auto !important;
}
.customSelect .selectList dl {
	background: #fff;	
}
.customSelect .selectList dl.defaultScrollbar {
	overflow-x: hidden;
	overflow-y: scroll;	
}
.customSelect dl, .customSelect dd {
	margin: 0;
    font-size: 0.88rem;
}
.customSelect dd {
	zoom: 1;
	cursor: pointer;
}
.customSelect .disabled {
	color: #999;
	cursor: default;
}
.selectValueWrap{
  position: relative;
  z-index: 2;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
}
.customSelect .selected {
	color: #ffffff;
	text-decoration: none;
	background-color: #007eee;
}
.customSelect .selectList dd.hovered {
	background: #007eee;
	color: #fff;
}
.customSelect .selectList dd.disabled.hovered {
	background: none;
	color: #999;
}
.customSelect dt {
	font-style: italic;
	padding: 2px 10px 2px 6px;
}	
.customSelect dd {
	padding: 2px 10px 2px 8px;
} 
.hasJS select.custom {
	position: absolute;
	left: -999em;
}
.hasJS select.custom.use-default {
	position: absolute;
	left: auto;
	height: auto;
	width: 100%;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	opacity: 0;
	/* prevents iOS from zooming in on field */
	font-size: 16px;
}
.customSelect.focused .selectedValue {
	box-shadow: 0 0 2px #00aedb;
}
.customSelect.disabled .selectedValue {
	border: 1px solid #ccc;
	color: #ccc;
	cursor: default;
}
.customSelect .caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 6px solid #cdcdcd;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: "";
}
.customSelect.select-open .caret{
    border-top:0px;
	border-bottom: 6px solid #007eee;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.customSelect.select-open:hover .caret{
  border-bottom: 6px solid #007eee;
  border-top: 0px;
}
.customSelect:hover .caret{
  border-top: 6px solid #007eee;
}
.customSelect .selectValueWrap .caret {
	position: absolute;
	top: 12px;
	right: 10px;
	cursor: pointer;
}
.customSelect .jspPane {
	overflow-x: hidden;
}
.customSelect .jspVerticalBar {
	background: #eeeeee;
	width: 10px;
}
.customSelect .jspHorizontalBar {
	height: 0;
	overflow: hidden;
}
.customSelect .jspTrack {
	background: none;
	right: 0px;
	border-radius: 5px;
}
.customSelect .jspDrag {
	border-radius: 5px;
	color: #ffffff;
	
	opacity: .5;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #333;
}


.jspContainer{
  width: 100% !important;
}
.jspScrollable{
  width: 100% !important;
}
.jspPane{
  width: 100% !important;
}
.customSelect dd{
  width: 100% !important;
}
.selectList{
  width: 100% !important;
}